.vs
/machine_lerning/load_data
machine_lerning/SWD_spectrogram.bin
machine_lerning/SWD_metadata.txt
machine_lerning/scalogram.png
machine_lerning/rust/all_events.db
machine_lerning/rust/stations/stations.xml
**/all_events.db
